# Copyright (c) 2026 STMicroelectronics
# SPDX-License-Identifier: Apache-2.0

config AUDIO_CODEC_WM8994
	bool "Wolfson WM8994 codec support"
	default y
	select I2C
	depends on DT_HAS_WOLFSON_WM8994_ENABLED
	help
	  Enable support for the Wolfson WM8994 codec
